
</div>


</div>

<div class="footer-padding" style = "position:fixed;bottom:0;">

  <div class="footer">
    <p style = "font: arial; margin-bottom: 0;">Made with ❤️ by Bhaskar Emirates</p>
    <p style = "font-size: 1rem;">© All Rights Reserved 2022-23</p>
  </div>
</div>
<br><br><br><br><br><br><br>
</body>
</html>
